<?xml version="1.0" encoding="utf-8"?>
<package xmlns="http://schemas.microsoft.com/packaging/2015/06/nuspec.xsd">
  <metadata>
    <id>keibidrop</id>
    <version>${VERSION}</version>
    <title>KeibiDrop</title>
    <authors>KeibiSoft SRL</authors>
    <owners>KeibiSoft</owners>
    <licenseUrl>https://github.com/KeibiSoft/KeibiDrop/blob/main/LICENSE</licenseUrl>
    <projectUrl>https://github.com/KeibiSoft/KeibiDrop</projectUrl>
    <requireLicenseAcceptance>false</requireLicenseAcceptance>
    <description>End-to-end encrypted peer-to-peer file sharing with post-quantum cryptography. Transfer files directly between devices with no cloud storage. The relay can't read your data.</description>
    <summary>E2E encrypted P2P file sharing</summary>
    <tags>file-transfer p2p encryption security privacy fuse</tags>
  </metadata>
  <files>
    <file src="keibidrop-${VERSION}-windows-amd64.zip" target="tools" />
  </files>
</package>
